.chat-input-form {
	display: flex;
	justify-content: center;
	padding: var(--padding);
	margin-bottom: 8px;
}

.chat-input {
	padding: var(--padding);
	font-size: var(--font-size);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	background-color: var(--secondary-color);
	color: var(--text-color);
	outline: none;
	transition: border-color 0.3s ease;
	flex:8;
}

.chat-input:focus {
	border-color: var(--primary-color);
}

.chat-input-button {
	flex: 2;
	padding: var(--padding);
	font-size: var(--font-size);
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	margin-left: 12px;
	transition: background-color 0.3s ease;
}

.chat-input-button:hover {
	background-color: #5a4fcf;
}